@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

:root {
  --background: oklch(0.9841 0.0017 145.5622);
  --foreground: oklch(0.2235 0.0049 145.4099);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2235 0.0049 145.4099);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2235 0.0049 145.4099);
  --primary: oklch(0.6479 0.1194 221.6425);
  --primary-foreground: oklch(0.9461 0 0);
  --secondary: oklch(0.1915 0.0162 244.6503);
  --secondary-foreground: oklch(0.9461 0 0);
  --muted: oklch(0.9591 0.0034 145.549);
  --muted-foreground: oklch(0.551 0.0234 264.3637);
  --accent: oklch(0.8365 0.1677 85.0062);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.4437 0.1613 26.8994);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9276 0.0058 264.5313);
  --input: oklch(0.9591 0.0034 145.549);
  --ring: oklch(0.422 0.0941 141.4072);
  --chart-1: oklch(0.422 0.0941 141.4072);
  --chart-2: oklch(0.6731 0.1624 144.2083);
  --chart-3: oklch(0.7536 0.1626 130.5022);
  --chart-4: oklch(0.8743 0.085 128.3785);
  --chart-5: oklch(0.9238 0.0522 127.5426);
  --sidebar: oklch(0.9841 0.0017 145.5622);
  --sidebar-foreground: oklch(0.2235 0.0049 145.4099);
  --sidebar-primary: oklch(0.422 0.0941 141.4072);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9591 0.0034 145.549);
  --sidebar-accent-foreground: oklch(0.422 0.0941 141.4072);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.422 0.0941 141.4072);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, serif;
  --font-mono: "IBM Plex Mono", "JetBrains Mono", monospace;
  --radius: 0rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.03;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0 0 / 0.01);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0 0 / 0.01);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0 0 / 0.03), 0px 1px 2px -1px hsl(0 0 0 / 0.03);
  --shadow: 0px 1px 2px 0px hsl(0 0 0 / 0.03), 0px 1px 2px -1px hsl(0 0 0 / 0.03);
  --shadow-md: 0px 1px 2px 0px hsl(0 0 0 / 0.03), 0px 2px 4px -1px hsl(0 0 0 / 0.03);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0 0 / 0.03), 0px 4px 6px -1px hsl(0 0 0 / 0.03);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0 0 / 0.03), 0px 8px 10px -1px hsl(0 0 0 / 0.03);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0 0 / 0.07);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1479 0.0027 145.4374);
  --foreground: oklch(0.9167 0.0086 145.5052);
  --card: oklch(0.1852 0.0026 145.4713);
  --card-foreground: oklch(0.9167 0.0086 145.5052);
  --popover: oklch(0.1852 0.0026 145.4713);
  --popover-foreground: oklch(0.9167 0.0086 145.5052);
  --primary: oklch(0.8267 0.1345 217.1366);
  --primary-foreground: oklch(0.1479 0.0027 145.4374);
  --secondary: oklch(0.2235 0.0049 145.4099);
  --secondary-foreground: oklch(0.8046 0.0043 91.4561);
  --muted: oklch(0.2235 0.0049 145.4099);
  --muted-foreground: oklch(0.7137 0.0192 261.3246);
  --accent: oklch(0.7746 0.1589 82.4666);
  --accent-foreground: oklch(0.9167 0.0086 145.5052);
  --destructive: oklch(0.7106 0.1661 22.2162);
  --destructive-foreground: oklch(0.1479 0.0027 145.4374);
  --border: oklch(0.2781 0.0296 256.848);
  --input: oklch(0.2235 0.0049 145.4099);
  --ring: oklch(0.6731 0.1624 144.2083);
  --chart-1: oklch(0.6731 0.1624 144.2083);
  --chart-2: oklch(0.7536 0.1626 130.5022);
  --chart-3: oklch(0.422 0.0941 141.4072);
  --chart-4: oklch(0.2934 0.0547 142.3909);
  --chart-5: oklch(0.4913 0.014 145.3581);
  --sidebar: oklch(0.138 0.003 145.4088);
  --sidebar-foreground: oklch(0.9167 0.0086 145.5052);
  --sidebar-primary: oklch(0.6731 0.1624 144.2083);
  --sidebar-primary-foreground: oklch(0.1479 0.0027 145.4374);
  --sidebar-accent: oklch(0.2235 0.0049 145.4099);
  --sidebar-accent-foreground: oklch(0.6731 0.1624 144.2083);
  --sidebar-border: oklch(0.2781 0.0296 256.848);
  --sidebar-ring: oklch(0.6731 0.1624 144.2083);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, serif;
  --font-mono: "IBM Plex Mono", "JetBrains Mono", monospace;
  --radius: 0rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0 0 / 0.1);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0 0 / 0.1);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0 0 / 0.2), 0px 1px 2px -1px hsl(0 0 0 / 0.2);
  --shadow: 0px 2px 4px 0px hsl(0 0 0 / 0.2), 0px 1px 2px -1px hsl(0 0 0 / 0.2);
  --shadow-md: 0px 2px 4px 0px hsl(0 0 0 / 0.2), 0px 2px 4px -1px hsl(0 0 0 / 0.2);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0 0 / 0.2), 0px 4px 6px -1px hsl(0 0 0 / 0.2);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0 0 / 0.2), 0px 8px 10px -1px hsl(0 0 0 / 0.2);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0 0 / 0.5);
}

body {
  letter-spacing: var(--tracking-normal);
}
